*{
    padding: 0;
    margin: 0;
}

body{
    background: #f8b5b5;
    font-family: sans-serif;
}

table{
    margin: 0 auto;
    width: 90%;
    background-color: rgb(224, 224, 150);
    border-collapse: collapse;
}

th{
    background-color: coral;
    padding: 10px;
    border: 2px solid rgb(58, 27, 16);
}

td{
    border: 1px solid black;
}

td {
    text-align: center;
    padding: 10px;
}

